<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>创建活动</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="images/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
		<link href="stylesheets/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
        <script type="text/javascript" src="javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="javascripts/bootstrap-datetimepicker.js" charset="UTF-8"></script>
		<script type="text/javascript" src="javascripts/bootstrap-datetimepicker.zh-CN.js"></script>		
        <!--[if lt IE 9]>
            <script type="text/javascript" src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js">
            </script>
            <script type="text/javascript" src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
            </script>
        <![endif]-->
    </head>
    
    <body>
        <nav role="navigation" class="navbar navbar-default navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#title" class="navbar-toggle collapsed">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </button>
                    <a href="/" class="navbar-brand">
                        约骑
                    </a>
                </div>
                <div id="title" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">
                                首页
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                我要约骑
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                骑行集锦
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                骑行令
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                联系我们
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>        
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 text-center"><h1><strong>发布骑行令,召集小伙伴</strong></h1></div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<form class="form-horizontal" action="http://localhost:3000/events/createActivity" method="POST">
					  <div class="form-group">
						<label for="activityTitle" class="control-label">标题</label>
						<input type="text" class="form-control" id="activityTitle" name="activityTitle" placeholder="活动标题" required>
					  </div>
					  <div class="form-group">
						<label for="activityStart">起点</label>
						<input type="text" class="form-control" id="activityStart" name="activityStart" placeholder="集合起点" required>
					  </div>
					  <div class="form-group">
						<label for="activityEnd">终点</label>
						<input type="text" class="form-control" id="activityEnd" name="activityEnd" placeholder="集合终点" required>
					  </div>
					  <div class="form-group">
						<label for="activityDistance">距离</label>
						<input type="text" class="form-control" id="activityDistance" name="activityDistance" placeholder="准备耍多少公里" required>
					  </div>
					  <div class="form-group">
						<label for="activityTime">日期</label>
						<input type="text" class="form-control" id="activityTime" name="activityTime" placeholder="集合日期" readonly required>
					  </div>
					  <div class="form-group">
						<label for="activityPublisherTel">发布者手机号</label>
						<input type="text" class="form-control" id="activityPublisherTel" name="activityPublisherTel" placeholder="方便大家联系,请提供下手机号" required>
					  </div>
					  <div class="form-group">
						<label for="activityKindlyReminder">温馨提示</label>
						<textarea  class="form-control" rows="3" id="activityKindlyReminder" name="activityKindlyReminder" placeholder="温馨提示，提示下注意事项" required></textarea>
					  </div>				  
					  <button type="submit" class="btn btn-primary  btn-lg btn-block">Submit</button>
					</form>					
				</div>
				<div class="col-md-2"></div>
			</div>
        </div>
        <!-- footer-->
		<script type="text/javascript">
			$(function(){
						$('#activityTime').datetimepicker({
							language: 'zh-CN',
							format: "yyyy-mm-dd hh:ii",
							autoclose: true,
							todayBtn: true,
							todayHighlight:true
					});
			});
		</script>	
    </body>
</html>